@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

h1 {
  font-size: 6em;
}

p {
  font-size: 2.5em;
}

body {
  margin: 0;
  background: linear-gradient(0deg, #90cbff, #cfe8ff);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
  max-width: 80vh;
  max-height: 80vh;
}

.menu {
  position: absolute;
  background-image: url(./img/MenuBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 80vh;
  max-height: 80vh;
  transition: opacity 1s;
  overflow: hidden;
}

.center {
  font-family: "Nerko One", cursive;
  text-align: center;
  color: rgb(17, 78, 121);
}

.text-wrapper {
  padding-top: 100px;
}

.instrc {
  animation-duration: 0.2s;
  animation-name: moveMenu;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.score-warpper {
  display: flex;
  justify-content: center;
}

.scores {
  width: 100%;
  height: 100%;
  max-width: 80vh;
}

.level,
.score,
.highscore {
  font-family: "Nerko One", cursive;
  color: rgb(17, 78, 121);
  margin: 0;
  margin-left: 3%;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes moveMenu {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

@media only screen and (max-height: 500px) {
  .text-wrapper {
    font-size: 7px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 930px) {
  .menu {
    max-width: 100vw;
    max-height: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  .text-wrapper {
    font-size: 7px;
    padding-top: 50px;
  }
}
