body {
  margin: 0;
  background: black;
}

.flex {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 90%;
  max-width: 80vh;
  max-height: 80vh;
}
